.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#location {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.block {
    width: 100%;
    min-height: 300px;
}
.list {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    font-size: 2rem;
    text-align: center;
}
.title {
    line-height: 50px;
    height: 50px;
    background-color: rgb(161, 167, 255);
    text-align: center;
}
.selected {
    line-height: 50px;
    height: 50px;
    background-color: rgb(80, 92, 255);
    text-align: center;
}
#buffer {
    border: 0px;
    min-width: 100px;
    min-height: 100px;
}
a {
    padding: 10px;
    color: black;
}
@media screen and (min-width: 200px) and (max-width: 800px) {    
    #location {
        display: flex;
        flex-direction: column;
    }
}