<div class="content">
    <div class="container">
        <app-input-form ></app-input-form>
    </div>

    <div id="location">   
        <div class="block">
        </div>
        <div id="buffer"></div>
        <div class="block">
        </div>
    </div>

    <div class="container">
        <a href="http://kekcheburek.ru">Portfolio</a>
        <a href="mailto:ganulenkoaf@gmail.com">ganulenkoaf@gmail.com</a>
        <a href="https://ekaterinburg.hh.ru/resume/51aa88acff02371e0e0039ed1f567676336f44">hh.ru</a>
    </div>
</div>